.playerDice {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 200px;
  text-align: center;
}

.startGame,
.startGame2,
.showResultsButton {
  width: 133px;
  height: 50px;
  font-size: 16px;
  font-weight: 500px;
  background-color: skyblue;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 8px 8px #c9372c;
}

.dots {
  font-size: 100px;
  color: black;

  display: flex;
}

.diceDots,
.diceDots2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: center;
  max-width: 100%;
}
